:root {
  --background: white;
  --elements-background: rgb(218, 218, 218);
  --borderRadius: 2em;
  --genBorderColor: rgb(240, 159, 54);
  --disBorderColor: rgb(81, 188, 250);
  --imgBorderColor: #C11B7F;
  --borderWidth: 0.3em;
  --boxShadow: 0.2em 0.2em grey;
}

body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #eceaea;
}

.discriminator-upper-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.wrapper-lower-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.discriminator-lower-container{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--background);
  height: 50em;
  width: 90em;
  margin: 5em;
  border-radius: var(--borderRadius);
  box-shadow: var(--boxShadow);
}

/* --- Lines & arrows --- */

.left-arrow-container{
  display: flex;
  flex-direction: column;
  width: 10em;
  height: 100%;
}

.right-arrow-container{
  display: flex;
  flex-direction: column;
  width: 10em;
  height: 100%;
}

.left-line {
  width: 5em;
  height: 4px;
  position: relative;
  transform: translateY(-50%);
  /* Center the line vertically */
  background-image: linear-gradient(to right, var(--arrowColor) 100%, transparent 50%);
}

.left-line.gen-to-picture{
  top: 35%;
  /* width: 9.75em; */
}

.left-line.training-to-picture{
  top: 55%;
}

/*Adds the arrowhead*/
.left-line.gen-to-picture::after,
.left-line.training-to-picture::after,
.right-line.picture-to-dis::after {
  content: '';
  position: absolute;
  top: 50%;
  right: -4px;
  /* Adjust the distance of the arrowhead from the end of the line */
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  /* Adjust the size and color of the arrowhead */
  border-bottom: 10px solid transparent;
  border-left: 20px solid var(--arrowColor);
  /* Adjust the size and color of the arrowhead */
  transform: translateY(-50%);
}

.right-line {
  width: 9.75em;
  height: 4px;
  position: relative;
  transform: translateY(-50%);
  /* Center the line vertically */
  background-image: linear-gradient(to right, var(--arrowColor) 100%, transparent 50%);
}

.right-line.picture-to-dis{
  top: 47%;
}

/* ----- */

.lower-left-container{
  height: 100%;
}

.lower-middle-container{
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.lower-right-container{
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.training-content-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}


.generator-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: var(--borderWidth) solid var(--genBorderColor);
  border-radius: var(--borderRadius);
  height: 12em;
  min-width: 20em;
  margin-top: 8em;
}

.training-pictures-box{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: var(--borderWidth) solid var(--imgBorderColor);
  border-radius: var(--borderRadius);
  height: 8em;
  min-width: 15em;
  margin-top: 4em;
}

.training-pictures-container{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.image-generator-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: var(--borderRadius);
  border: var(--borderWidth) solid black;
  min-width: 13em;
  margin-top: 8em;
  margin-bottom: 2em;
  padding: 2em;
  min-height: 11em;
}

.discriminator-probability-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  border: var(--borderWidth) solid var(--disBorderColor);
  border-radius: var(--borderRadius);
  height: 30em;
  padding: 1em;
  min-width: 25em;
  margin-top: 8em;
}

.probability-buttons-container{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 1em;
  width: 25em;
}

.computer-generated{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.training-picture{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.correct-and-level-container{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.try-again-container{
  margin: 1em;
}

.continue-button{
  margin-top: 2em;

}

.chosen-probability{
  margin: 2em;
}

.summary-content-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

table {
  border-collapse: collapse;
  width: 100%;
}

table, th, td {
  border: 1px solid black;
  width: 40em;
}

th, td {
  padding: 10px;
  text-align: center;
}
