h1 {
    text-align: center;
}

.header {
    display: flex;
    flex-direction: column;
}


.overview-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.activity-button-container {
    display: flex;
    flex-direction: column;
    row-gap: 5em;
    justify-content: center;
    border-radius: var(--borderRadius);
}

.activity-button {
    background-color: white;
    width: 20em;
    height: 18em;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: var(--borderRadius);
}

.activity-button.discriminator {
    position: relative;
}

.activity-btn {
    height: var(--networkHeight);
    width: var(--networkWidth);
    border-radius: var(--borderRadiusElements);
}

#gen-btn {
    border-color: var(--genBorderColor);
    border-width: var(--borderWidth);
    box-shadow: var(--boxShadow);
    background-color: var(--backGroundColorElements);
}

#dis-btn {
    border-color: var(--disBorderColor);
    border-width: var(--borderWidth);
    box-shadow: var(--boxShadow);
    background-color: var(--backGroundColorElements);
}

.process-activity-container {
    position: relative;
    background-color: white;
    height: 58em;
    /* height: fit-content; */
    width: 75em;
    border-radius: var(--borderRadius);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.overlay {
    position: absolute;
    border-radius: var(--borderRadius);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    /* Adjust the alpha value to control the transparency */
    z-index: 1;
}

.description-container {
    height: 2em;
    width: 2em;
    align-self: flex-end;
    position: relative;
    top: 1em;
    right: 3em;
    display: inline-block;
}

.tooltiptext-icon {
    visibility: hidden;
    width: 18em;
    top: -5px;
    right: 105%;
    margin-left: -60px;
    border: 3px solid black;
    padding: 1em;
    border-radius: var(--borderRadiusElements);
    color: black;
    text-align: center;
    position: absolute;
    z-index: 1;
}

.description-container:hover .tooltiptext-icon {
    visibility: visible;
}




.generating-arrow {
    display: none;
    position: absolute;
    z-index: 1;
    left: 0;
    top: 10.3em;
    width: 22.5em;
    height: 42em;
    background-color: none;
    align-items: center;
    justify-content: center;
}

.generating-arrow::before,
.generating-arrow::after {
    content: '';
    position: absolute;
}

.generating-arrow::before {
    top: 34em;
    left: 3em;
    width: 19.5em;
    height: 0.5em;
    /*juster height og sidste værdi af background-size of at ændre størrelse på linjerne*/
    background-image: linear-gradient(to right, var(--arrowColor) 50%, transparent 50%);
    background-size: 15px 1em;
    animation: moveGenLineRight 3s linear infinite;
}

.generating-arrow::after {
    top: 0;
    left: 3em;
    width: 0.5em;
    height: 34em;
    background-image: linear-gradient(to bottom, var(--arrowColor) 50%, transparent 50%);
    background-size: 15px 1em;
    animation: moveGenLineDown 3s linear infinite;

}

@keyframes moveGenLineRight {
    0% {
        background-position: 0 0;
    }

    100% {
        background-position: 200px 0;
    }
}

@keyframes moveGenLineDown {
    0% {
        background-position: 0 0;
    }

    100% {
        background-position: 0 200px;
    }
}

.training-img-container {
    display: flex;
    flex-direction: column;
    row-gap: 2em;
    align-items: center;
    height: 56em;
    width: 15em;
    margin-top: 8em;
}

.training-img-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    height: var(--imgHeight);
    width: var(--imgWidth);
    border: solid;
    border-color: var(--imgBorderColor);
    border-width: var(--borderWidth);
    border-radius: var(--borderRadiusElements);
    background-color: var(--backGroundColorElements);
}

.img-btn:hover {
    cursor: pointer;
    box-shadow: var(--boxShadow);
}

#flower-dataset:hover {
    cursor: pointer;


}

.help-tooltip {
    height: 2em;
    width: 2em;
    align-self: flex-end;
    position: relative;
    top: -1em;
    right: 1em;
    display: inline-block;
}

.help-tooltip.tooltiptext-icon {
    visibility: hidden;
    width: 18em;
    top: -5px;
    right: 105%;
    margin-left: -60px;
    border: 3px solid black;
    padding: 1em;
    border-radius: var(--borderRadiusElements);
    color: black;
    text-align: center;
    position: absolute;
    z-index: 1;
}

.help-tooltip:hover .tooltiptext-icon {
    visibility: visible;
}


.line {
    height: 54em;
    width: 0.2em;
    background-color: #eceaea;
}

.process-container {
    /* background-color: blue; */
    height: 56em;
    height: fit-content;
    width: 58em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* row-gap: 1.5em; */
}

.model-overview {
    width: 55em;
    height: 20em;
    display: flex;
    justify-content: center;
    flex-direction: row;
    /* column-gap: 15em; */
    position: relative;

}

.left-side {
    height: 20em;
    width: var(--networkWidth);
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    row-gap: 1em;
}

.gen-box {
    height: var(--networkHeight);
    width: var(--networkWidth);
    border-color: var(--genBorderColor);
    border-width: var(--borderWidth);
    border-radius: var(--borderRadiusElements);
    pointer-events: none;
    background-color: var(--backGroundColorElements);
}


.right-side {
    height: 20em;
    align-content: center;
}

.dis-box {
    height: var(--networkHeight);
    width: var(--networkWidth);
    border-color: var(--disBorderColor);
    border-width: var(--borderWidth);
    pointer-events: none;
    background-color: var(--backGroundColorElements);
    border-radius: var(--borderRadiusElements);
}


.moving-line {
    width: 20em;
    height: 4px;
    position: relative;
    transform: translateY(-50%);
    /* Center the line vertically */
    background-image: linear-gradient(to right, var(--arrowColor) 50%, transparent 50%);
    background-size: 15px 8px;
    /* Adjust the size of each dash */
}

.moving-line.gen-to-dis {
    top: 45%;
}

/*Adds the arrowhead*/
.moving-line.gen-to-dis::after {
    content: '';
    position: absolute;
    top: 50%;
    right: 0;
    /* Adjust the distance of the arrowhead from the end of the line */
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    /* Adjust the size and color of the arrowhead */
    border-bottom: 10px solid transparent;
    border-left: 20px solid var(--arrowColor);
    /* Adjust the size and color of the arrowhead */
    transform: translateY(-50%);
}

.moving-line.img-to-dis {
    top: 62%;
}

.moving-line.img-to-dis::after {
    content: '';
    position: absolute;
    top: 50%;
    right: 0;
    /* Adjust the distance of the arrowhead from the end of the line */
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    /* Adjust the size and color of the arrowhead */
    border-bottom: 10px solid transparent;
    border-left: 20px solid var(--arrowColor);
    /* Adjust the size and color of the arrowhead */
    transform: translateY(-50%);
}

.moving-line.dis-to-gen {
    top: 25%;
}

.moving-line.dis-to-gen::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    /* Adjust the distance of the arrowhead from the end of the line */
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    /* Adjust the size and color of the arrowhead */
    border-bottom: 10px solid transparent;
    border-right: 20px solid var(--arrowColor);
    /* Adjust the size and color of the arrowhead */
    transform: translateY(-50%);
}

.moveLineRight {
    animation: moveLineRight 5s linear infinite;
    /* Adjust the animation duration and timing */
}

.moveLineLeft {
    animation: moveLineLeft 9s linear infinite;
    /* Adjust the animation duration and timing */
}


@keyframes moveLineRight {
    0% {
        background-position: 0 0;
    }

    100% {
        background-position: 200px 0;
        /* Adjust the length the line moves */
    }
}

@keyframes moveLineLeft {
    0% {
        background-position: 100% 0;
        /* Move from outside the container to the right edge */
    }

    100% {
        background-position: -200px 0;
        /* Move to the left edge */
    }
}

.training-overview {
    width: 55em;
    height: 13em;
    height: fit-content;
    display: flex;
    flex-direction: column;
    row-gap: 1em;

}

.train-btn {
    height: 3em;
    width: 6em;
    align-self: center;
}

.display-training-img-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: var(--greyBackgroundColor);
    border-radius: var(--borderRadius);
    width: 50em;
    height: 11em;
    align-self: center;
}

.container-img {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.displayLevelImg {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 7em;
    height: 7em;
}

.training-level-text {
    margin-top: 0;
}


.generating-overview {
    width: 10em;
    height: 15em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 1em;
    margin-top: 2.5em;

}

.generate-btn {
    height: 3em;
    width: 6em;
    align-self: center;
}


#flowerLeve1 {
    width: 2em;
}

.displayGeneratedImg {
    width: 100%;
    height: 10em;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #eceaea;
    border-width: var(--borderWidth);
    border-color: var(--genBorderColor);
    border-radius: var(--borderRadius);
}

.bottom-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 28em;
    height: fit-content;
}

.training-information-modal {
    display: none;
    /* position: fixed; */
    z-index: 1;
    left: 0;
    top: 0;
    width: 58em;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: var(--borderRadius);
    align-items: center;
    justify-content: center;
}

.modal-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    margin: 15% auto;
    padding: 20px;
    width: 50em;
    height: 20em;
    border-radius: var(--borderRadius);
}

/* Close button */
.close-btn-modal {
    width: 9em;
    position: absolute;
    bottom: -5em;

}

p.modal-text {
    text-align: center;
    font-style: italic;
    line-height: 1.6;

}