body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00b7ff;
}

button {
  padding: 15px;
  cursor: pointer;
  font-size: 16px;
}

#predict, #clear {
  width: 31em;
}

.buttons-container {
  margin-top: 15px;
}

#defaultCanvas0 {
  border: 1px solid black;
}

.attempt {
  display: flex;
  border: 1px solid black;
  margin: 1em;
}

#drawing-history {
  display: flex;
  flex-direction: row;
  overflow-x: auto;  
}

#discriminator {
  border: 1px solid black;
  width: 30em;
  height: 30em;
}

.generator-and-discriminator-container{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.wrapper-div{
  display: flex;
  flex-direction: column;
}

.upper-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.prediction-container{
  display: flex;
  flex-direction: column;
  width: 30em;
}

.header{
  text-align: center;
  margin-bottom: 2em;
}

#startTimer{
  width: 20em;
}

.timer-container{
  display: flex;
  flex-direction: column;
  align-items: center;
}
