body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #F8F6E3;
}

a {
  color: #00b7ff;
}

button {
  padding: 15px;
  cursor: pointer;
  font-size: 16px;
}

#predict, #clear {
  width: 31em;
}

.buttons-container {
  margin-top: 15px;
}

#defaultCanvas0 {
  border: 1px solid black;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.8);
}

.attempt {
  display: flex;
  border: 1px solid black;
  margin: 1em;
  background-color: white;
}

#drawing-history {
  display: flex;
  flex-direction: row;
  overflow-x: auto;  
}

#discriminator {
  border: 1px solid black;
  min-width: 350px;
  width: fit-content;
  min-height: 350px;
  height: fit-content;
  background-color: white;

}

.generator-and-discriminator-container{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.wrapper-div{
  display: flex;
  flex-direction: column;
}

.upper-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.prediction-container{
  display: flex;
  flex-direction: column;
  width: 30em;
}

.header{
  text-align: center;
  margin-bottom: 2em;
}

#startTimer{
  width: 20em;
}

.timer-container{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.role-header {
  display: flex;
  justify-content: center;
}
